:root {
  --color-primary: #0059b3;
  --color-secondary: hsl(210, 100%, 50%);
  --color-disabled: hsl(0, 0%, 71%);
  --color-bg-footer: #b3b3b3;
  --color-fg-footer: #333;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 1.2rem;
}


header, main, footer {
  width: 100%;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 75rem;
  padding: 0 1rem;
}


header {
  background-color: var(--color-primary);
  height: 6rem;
}

.header-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

footer {
  background-color: var(--color-bg-footer);
  color: var(--color-fg-footer);
  font-size: 1.05rem;
  padding: 0.7rem 0;
}

.footer-inner {
  width: fit-content;
}

footer a, footer a:hover, footer a:visited {
  text-decoration: none;
  color: var(--color-fg-footer);
}

footer a:hover {
  text-decoration: underline;
}

main {
  /* min-height: 90vh; */
}

.main-inner {
  padding: 0;
}

section {
  max-width: 85%;
  margin: 4rem auto;
}


h1 {
  margin: 0 0 0 1rem;
  font-size: 3rem;
  font-weight: 600;
  color: white;
}


.go-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  padding: 0;
  border: 0;
  margin: 0;
  background-color: var(--color-primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s opacity;
  cursor: pointer;
}

.go-to-top.hidden {
  opacity: 0;
  cursor: default;
}

.go-to-top:hover, .go-to-top:active {
  background-color: var(--color-secondary);
}

.arrow-up {
  border: solid white;
  border-width: 0 0.3rem 0.3rem 0;
  display: inline-block;
  padding: 0.3rem;
  transform: rotate(-135deg);
}


.inputs-wrapper {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.input-wrapper {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.input-label {
  display: inline-block;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.input-wrapper input {
  display: inline-block;
  width: 4rem;
  margin: 0 0.2rem;
  padding: 0.1rem;
  text-align: center;
  font-size: inherit;
}


.subnets-desc {
  margin-bottom: 1rem;
}

.table-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subnets-table {
  display: table;
}

.subnets-table .row {
  display: table-row;
}

.subnets-table .row.heading {
  font-weight: bold;
}

.subnets-table .cell {
  display: table-cell;
  border: 1px inset black;
  border-collapse: collapse;
  border-spacing: 0;
  border-left: 0;
  border-top: 0;
  padding: 0.1rem 1rem;
  text-align: center;
}

.subnets-table .cell:first-child {
  border-left: 1px solid black;
}

.subnets-table .row.heading .cell {
  border-top: 1px solid black;
}

.show-more-btn {
  display: block;
  margin: 0 auto;
}


@media screen and (max-width: 900px) {
  header {
    height: 4rem;
  }

  body {
    font-size: 1rem;
  }

  .main-inner {
    padding: 2.5rem 0;
  }

  h1 {
    font-size: 2rem;
  }

  footer {
    font-size: 0.95rem;
  }
}
